.books-header {
    padding-top: 20px;
    padding-bottom: 20px;
}

.books-title {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 60px;
    font-weight: normal;
}

.user-info {
    height: 200px;
}

.user-info div {
    height: 40px;
}

.table .glyphicon.icon {
    padding: 10px 20px;
}

.table .glyphicon.icon:hover {
    color: red;
}